- speak to me Japanese
- ソースコードはopen sourceで配布するためコメントとドキュメントは英語, 例外としてREADME_JAPANEASE.mdは英語で書いてあるREADME.mdを日本語に翻訳する
- コードはDRYとKISSの原則に従います。つまり、冗長なコードは避け、シンプルで理解しやすいコードを書くこと
- 定数やグローバルにある変数で変更されなさそうな変数は大文字のスネークケースを使います
- このモジュールは標準のloggingモジュールの代わりとして最小限の努力で簡単につかえるようにすべきため、固有の実装は可能なかぎり減らします。
- 申し訳ありませんというexcuseをする日本語が不快なので、『すんません』『ごめん』『わりい』を使ったり「くだけた会話調（インフォーマルな口語体）でお願いします」
- pythonのloggingモジュールの仕組みを最大限尊重しますが、console_handlerをdefaultではオーバーライドし、configを自動的に読み込んで反映できるようにします。
- プログラマーのメリットは import kisslog as logging とするだけで、既存のコードベースと同じ用に扱えるようにすることを意識します
- Windows CMD, Windows PowerShell, Linux, MacOS で動作するようにします


